{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">  
        <!-- fontawsomeを使ってみる(kitっていうやつでサインアップして読み込み) -->
        <script src="https://kit.fontawesome.com/ea719f5ca8.js" crossorigin="anonymous"></script>        <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}">
        <!-- ファビコンを設定してみる -->
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    </head>

    <body>
        <!-- ナビゲーションバー -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'crud:list' %}">商品管理アプリ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">新規登録</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">データ一覧</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">エクスポート</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        {% if messages %} 
        <div class="container my-div-style">
          <div class="row">
            <ul class="messages" style="list-style:none;"> <!--リストの先頭に・がつかないようにしている-->
              <!-- message.tagはsuccess、error、infoなどのメッセージに付随するタグ。settings_common.pyのMESSAGE?TAGSで設定している。-->
              {% for message in messages %} 
                <li {% if message.tags %} class="{{message.tags}}" {% endif %}> <!--message.successなどこのclassはbootstrap-->
                  {{ message }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

        <!-- コンテナ一つ目 -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <!-- メッセージ画面 -->
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>