{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}パスワードリセット|商品管理アプリ{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>パスワードリセット</h1>
            <!-- ユーザー認証がされているならば -->
            {% if user.is_authenticated%}
                <!--account/snippets/already_logged_in.htmlというテンプレートファイルが読み込まれる。このテンプレートファイルは、「ログイン済みです」的なメッセージが表示される。-->
                <!--{% include %}ディレクティブは、指定されたテンプレートを現在のテンプレートに挿入するために使用される。-->
                {% include "account/snippets/already_logged_in.html"%}
            {% endif %}
            <p>パスワードリセット用メールを送信します。</p>
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class="mb-4 col-4">
                    {% bootstrap_form form %}
                </div>
                <button class="btn btn-primary" type="submit">送信</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}